<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search City"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../../../assets/images/hot.jpg"
      alt="hot temperature image"
      *ngIf="weatherData.main.temp > 15"
    />
    <img
      src="../../../assets/images/cold.jpg"
      alt="cold temperature image"
      *ngIf="15 >= weatherData.main.temp"
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number : "1.0-0" }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <!-- 1-->
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-temperature-arrow-down fa-4x min-temp-icon"></i>
          <span>min</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_min }}°C</div>
      </div>
      <!-- 2-->
      <div class="info-block">
        <div class="info-block-label">
          <i class="fa-solid fa-temperature-arrow-up fa-4x min-temp-icon"></i>
          <span>max</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_max }}°C</div>
      </div>
      <!-- 3-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/images/humidity.jpg" alt="humidity image" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }} %</div>
      </div>
      <!-- 4-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../../../assets/images/wind.jpg" alt="wind image" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>
